<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1" id="data-fabric-web-tool">

    <display-name>ogloszenia-projekt</display-name>
    <servlet>
        <servlet-name>addNewAdServlet</servlet-name>
        <servlet-class>ogloszenia.AddNewAdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNewAdServlet</servlet-name>
        <url-pattern>/ad-new-ad</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registerUserServlet</servlet-name>
        <servlet-class>ogloszenia.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerUserServlet</servlet-name>
        <url-pattern>/reg-new-user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>archiveAdServlet</servlet-name>
        <servlet-class>ogloszenia.ArchiveAdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>archiveAdServlet</servlet-name>
        <url-pattern>/archive-ad</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchAdServlet</servlet-name>
        <servlet-class>ogloszenia.SearchAdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchAdServlet</servlet-name>
        <url-pattern>/search-ad</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddNewConversationServlet</servlet-name>
        <servlet-class>ogloszenia.AddNewConversationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewConversationServlet</servlet-name>
        <url-pattern>/add-new-conv</url-pattern>
    </servlet-mapping>
</web-app>