<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>addNewAdServlet</servlet-name>
        <servlet-class>ogloszenia.AddNewAdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addNewAdServlet</servlet-name>
        <url-pattern>/ad-new-ad</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registerUserServlet</servlet-name>
        <servlet-class>ogloszenia.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerUserServlet</servlet-name>
        <url-pattern>/reg-new-user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>archiveAdServlet</servlet-name>
        <servlet-class>ogloszenia.ArchiveAdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>archiveAdServlet</servlet-name>
        <url-pattern>/archive-ad</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>searchAdServlet</servlet-name>
        <servlet-class>ogloszenia.SearchAdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchAdServlet</servlet-name>
        <url-pattern>/search-ad</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryRepository</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryRepository</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>


</web-app>